about-time==4.2.1
absl-py==1.4.0
acct==8.6.1
aicsimageio==4.11.0
aiobotocore==2.5.2
aiofiles==23.1.0
aiohttp==3.8.5
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==0.7.13
albumentations==1.3.1
alembic==1.11.1
alive-progress==3.1.4
analytics-python==1.4.post1
anndata==0.9.2
annotated-types==0.5.0
ansi2html==1.8.0
antlr4-python3-runtime==4.13.0
anyio==3.7.1
appdirs==1.4.4
arch==6.1.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
astor==0.8.1
astroid==2.15.6
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.3
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.2
autowoe==1.3.2
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
Bext==0.0.8
black==23.7.0
bleach==6.0.0
blinker==1.6.2
blis==0.9.1
blosc2==2.2.5
bodger==4.2.0
bokeh==3.2.1
boto3==1.28.12
botocore==1.31.12
bottle==0.12.25
Bottleneck==1.3.7
bpyutils==0.5.8
branca==0.6.0
Brotli==1.0.9
brotlipy==0.7.0
build==0.10.0
cachetools==5.3.1
captum==0.6.0
catalogue==2.0.9
catboost==1.2
category-encoders==2.6.1
cbc==1.1.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
clp==0.0.0
clustergram==0.7.0
cmaes==0.10.0
cmdstanpy==1.1.0
colorama==0.4.6
colored==2.2.3
colorlog==6.7.0
colorspacious==1.1.2
colour==0.1.5
comet-ml==3.33.6
comm==0.1.3
commonmark==0.9.1
confection==0.1.0
config-pkg==1.1.5
configobj==5.0.8
connectorx==0.3.1
contourpy==1.1.0
convertdate==2.4.0
coptpy==6.5.6
cplex==22.1.1.0
cramjam==2.6.2
creds==1.0.15
cryptography==41.0.2
cvxopt==1.3.1
cvxpy==1.3.2
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0
dacite==1.8.1
dash==2.11.1
dash-bootstrap-components==1.4.2
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dask==2023.7.1
dataclasses==0.6
datasheet==1.2.0
db-dtypes==1.1.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deltalake==0.10.0
Deprecated==1.2.14
deprecation==2.1.0
dict-toolbox==4.1.1
dill==0.3.7
distlib==0.3.7
distributed==2023.7.1
distro==1.8.0
dnspython==2.4.0
docstring-parser==0.15
docutils==0.20.1
dtale==3.3.0
dulwich==0.21.5
easy-install==66.0.2
ecos==2.0.12
efficientnet-pytorch==0.7.1
elementpath==4.1.5
email-validator==2.0.0.post2
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
everett==3.2.0
exceptiongroup==1.1.2
execnet==2.0.2
executing==1.2.0
exrex==0.11.0
Faker==19.2.0
fast-unzip==1.3.2
fasteners==0.18
fastjsonschema==2.18.0
fastparquet==2023.7.0
ffmpy==0.3.1
filelock==3.12.2
Fiona==1.9.4.post1
Flask==2.2.5
Flask-Compress==1.13
flask-ngrok==0.0.25
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.41.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
fst-pso==1.8.1
future==0.18.3
FuzzyTM==2.0.5
gast==0.4.0
gcsfs==2023.6.0
gdown==4.7.1
gensim==4.3.1
geographiclib==2.0
geopandas==0.13.2
geopy==2.3.0
glop==0.1.1
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.11.4
google-cloud-bigquery-storage==2.22.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grains-universal==3
grains-virt==3
grainsv2==11.10
grapheme==0.6.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.56.2
grpcio-status==1.56.2
gurobipy==10.0.2
h11==0.14.0
h5py==3.9.0
hijri-converter==2.3.1
holidays==0.21.13
html5lib==1.1
htmlmin==0.1.12
httpcore==0.17.3
huggingface-hub==0.16.4
hyperopt==0.2.7
hypothesis==6.82.0
idem==23.1.1
idem-windows==5.3
idna==3.4
imagecodecs==2023.7.10
ImageHash==4.3.1
imageio==2.31.1
imagesize==1.4.1
imbalanced-learn==0.11.0
importlib-metadata==6.8.0
importlib-resources==6.0.0
iniconfig==2.0.0
interpret-core==0.4.2
ipykernel==6.25.0
ipynb==0.5.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jax==0.4.13
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
json2html==1.3.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jum==0.8
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter-ydoc==1.0.2
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kaggle==1.5.16
kaleido==0.2.1
keras==2.13.1
Keras-Preprocessing==1.1.2
keyring==24.2.0
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
latest==0.6.0
latex2sympy==1.0.3
lazy-object-proxy==1.9.0
lazy_loader==0.3
libclang==16.0.6
lightautoml==0.3.7.3
lightgbm==4.0.0
lightning-utilities==0.9.0
llvmlite==0.40.1
locket==1.0.0
log-calls==0.3.2
LunarCalendar==0.0.9
lxml==4.9.3
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
miniful==0.0.6
mip==1.15.0
missingno==0.5.2
mistune==3.0.1
mitosheet==0.1.496
mkdir==2020.12.3
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==10.0.0
Mosek==10.0.46
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
munch==4.0.0
murmurhash==1.0.9
mypy-extensions==1.0.0
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.1
nbsphinx==0.9.2
nbsphinx-link==1.3.0
ndindex==1.7
nest-asyncio==1.5.6
networkx==3.1
neuralprophet==0.6.2
nibabel==5.1.0
nltk==3.8.1
notebook==7.0.0
notebook_shim==0.2.3
numba==0.57.1
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
odfpy==1.4.1
ome-types==0.4.0
ome-zarr==0.8.0
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
openpyxl==3.1.2
opt-einsum==3.3.0
optlang==1.7.0
optuna==3.2.0
optuna-dashboard==0.10.3
orca==1.8
orjson==3.9.2
ortools==9.6.2534
osqp==0.6.3
overrides==7.3.1
packaging==23.1
pandarallel==1.6.5
pandas==1.5.3
pandas-gbq==0.19.2
pandoc==2.3
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.3
partd==1.4.0
partial==1.0
pathlib==1.0.1
pathspec==0.11.1
pathy==0.10.2
patsy==0.5.3
pdlpy==0.4.1
pep517==0.13.0
phik==0.12.3
pickleshare==0.7.5
Pillow==10.0.0
Pint==0.22
pipupgrade==1.12.0
pkginfo==1.9.6
platformdirs==3.9.1
plotly==5.15.0
plotly-resampler==0.8.3.2
pluggy==1.2.0
plumbum==1.8.2
ply==3.11
pmdarima==2.0.3
poetry-core==1.6.1
polars==0.18.8
pop==24.0.1
pop-config==12.0.2
pop-evbus==7.0.0
pop-loop==1.1.0
pop-serial==2.0.0
pop-tree==10.2.1
portalocker==2.7.0
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
prophet==1.1.4
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.5
psycopg2==2.9.6
PuLP==2.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycaret==3.0.4
pycodestyle==2.10.0
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
pydata-google-auth==1.8.1
pydub==0.25.1
pyFUME==0.2.25
Pygments==2.15.1
pygwalker==0.2.0
pylint==2.17.5
PyMeeus==0.5.12
PyMySQL==1.1.0
pyod==1.1.0
pyodbc==4.0.39
pyparsing==3.0.9
pyproj==3.6.0
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyreadstat==1.2.2
pyrsistent==0.19.3
PySocks==1.7.1
pyspark==3.4.1
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-xdist==3.3.1
python-box==7.0.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-pptx==0.6.21
python-slugify==8.0.1
python-snappy==0.6.1
python-whois==0.8.0
pytorch-lightning==1.9.5
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.11
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==25.1.0
qdldl==0.1.7.post0
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
ray==2.6.1
rdt==1.6.0
readme-renderer==40.0
referencing==0.30.0
regex==2023.6.3
rend==7.0.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resource-backed-dask-array==0.1.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.4.2
rm==2020.12.3
rpds-py==0.9.2
rsa==4.9
s3fs==2023.6.0
s3transfer==0.6.1
safetensors==0.3.1
schedule==1.2.0
schemdraw==0.17
scikit-base==0.5.0
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-plot==0.3.7
scikit-surprise @ file:///C:/Users/yaros/Documents/Python%20code/surprise
scip==0.1.12
scipy==1.11.1
scs==3.2.3
seaborn==0.12.2
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.2
sentry-sdk==1.28.1
setuptools-scm==7.1.0
shapely==2.0.1
simpful==2.11.0
simplejson==3.19.1
six==1.16.0
skimpy==0.0.9
sktime==0.21.0
smart-open==6.3.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
speedtest==0.0.1
Sphinx==7.1.0
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.19
sqlglot==17.8.1
sqlparse==0.4.4
squarify==0.4.3
srsly==2.4.7
stack-data==0.6.2
statistics==1.0.3.5
statsmodels==0.14.0
StrEnum==0.4.15
strsimpy==0.2.1
sweetviz==2.1.4
swifter==1.3.5
swiglpk==5.0.8
sympy==1.12
sympy-add==1.3.1
sympy-plot-backends==2.4.2
sympy2c==2.2.3
tables==3.8.0
tabula-py==2.7.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tbb==2021.10.0
tblib==2.0.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-addons==0.21.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.1.10
threadpoolctl==3.2.0
tifffile==2023.7.18
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
transformers==4.31.0
treeinterpreter==0.2.3
tsdownsample==0.1.2
twine==4.0.2
typeguard==4.0.0
typer==0.9.0
types-PyYAML==6.0.12.11
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.2
uri-template==1.3.0
urllib3==1.26.16
urllib3-secure-extra==0.1.0
values==2020.12.3
virtualenv==20.24.2
visions==0.7.5
waitress==2.1.2
wasabi==1.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.8
windows-curses==2.3.1
winsdk==1.0.0b7
WMI==1.5.1
wordcloud==1.9.2
wrapt==1.15.0
WTForms==3.0.1
wurlitzer==3.0.3
xarray==2023.7.0
xgboost==1.7.6
xlrd==2.0.1
xlsx2csv==0.8.1
XlsxWriter==3.1.2
xlwt==1.3.0
xmlschema==2.3.1
xmltodict==0.13.0
xpress==9.2.0
xsdata==23.7
xxhash==3.2.0
xyzservices==2023.7.0
y-py==0.6.0
yapf==0.40.1
yarl==1.9.2
yattag==1.15.1
ydata-profiling==4.3.2
yellowbrick==1.5
ypy-websocket==0.12.1
zarr==2.16.0
zict==3.0.0
zipp==3.16.2
zope.event==5.0
zope.interface==6.0
zstandard==0.21.0
